{% extends "layout.html"%}
{% block title%}Rooms{% endblock %}
{% block body %}

<div class="actions">
    <div class="heading">
        <h3>All Rooms</h3>
    </div>
    <button onclick="toggleAction()" class="action">
        <span class="material-icons"> add_business </span>
        Add Room
    </button>
</div>

<div style="display: none;" id="expand-action">
    <h2> Add New Room</h2>
    <h3>Enter Details Below</h3>
    <div onclick="toggleAction()" class="cancel">
        <span class="material-icons"> close </span>
    </div>
    <form action="/register-room" method="post">
        <input autofocus name="room-number" id="room-number" required type="text" placeholder="Room Number">
        <select name="room-type" id="room-type" onchange="updateRate(event)" required>
            <option disable hidden>Click to Choose Room Type</option>
            <option value="single">Single</option>
            <option value="double">Double</option>
            <option value="queen">Queen</option>
            <option value="king">King</option>
        </select>
        <input name="rate" id="rate" required type="number" placeholder="Nightly Rate">
        <button type="submit">Add Room</button>
    </form>
</div>

<div class="workspace">
    <div class="rooms" style="grid-template-columns: repeat(5, 1fr);">
        {% for room in rooms %}
        <div class="room">
            <h3>Room {{(room.room_number).upper()}}</h3>
            <h3>{{(room.type).capitalize()}} Size</h3>
            <h2>{{room.rate | kes}}</h2>
            {%if room.status == 0 %}
            <div onclick="checkOut('{{(room.room_number).upper()}}')" class="book">
                <span class="material-icons"> light_mode </span>
                <span>Check-Out</span>
            </div>
            <h4 style="display: none;">Booked</h4>
            {% else %}
            <h4 style="display: none;">Available</h4>
            <div onclick="toggleAllocation('{{(room.room_number).upper()}}','{{room.rate}}')" class="book">
                <span class="material-icons"> nights_stay </span>
                <span>Book</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div id="room-allocation" class="room-allocation" style="display: none;">
        <div onclick="toggleAllocation()" class="cancel">
            <span class="material-icons"> close </span>
        </div>
        <h2>Room Allocation Form</h2>
        <form action="/allocate-room" method="post" id="allocate-form">
            <div class="labels">
                <label name="rm-rate" id="lbl-rate">Nightly Rate</label>
                <label name="rm-number" id="lbl-number">Room Number</label>
            </div>
            <input hidden id="rm-number" name="rm-number" required style="display: none;" type="text">
            <input id="rm-rate" name="rm-rate" required style="display: none;" type="text">
            <input autofocus id="customer-name" name="customer-name" placeholder="Customer Name" required type="text">
            <input id="customer-phone" minlength="10" maxlength="10" name="customer-phone" placeholder="Phone Number"
                required type="tel">
            <input id="check-in" name="check-in" type="date" required style="display: none;">
            <input id="check-out" name="check-out" onfocus="(this.type='date')" placeholder="Check Out Date" required>
            <button type="submit">Allocate Room</button>
        </form>
    </div>


    <div id="checkout" class="room-allocation" style="display: none;">
        <div onclick="checkOut()" class="cancel">
            <span class="material-icons"> close </span>
        </div>
        <h2>Room Check Out Form</h2>
        <form action="/check-out" method="post" id="allocate-form">
            <div class="labels">
                <label name="rm-number" id="checkout-number">Room Number</label>
            </div>
            <span style="font-style: italic; margin: 12px 0;">Ensure the customer has handed over the
                key</span>
            <span style="font-style: italic; margin: 12px 0;">Make sure to confirm the check out date below</span>
            <input id="check-out-rm-number" name="rm-number" required style="display: none;" type="text">
            <input id="check-out-date" name="check-out" type="date" required>
            <button type="submit">Check Out</button>
        </form>
    </div>


</div>
{% endblock %}